<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01// EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/A4.css" %}"/>
</head>
<body>
  <h2 align="center">
    <p>
    АКТ уничтожения закрытых электронных ключей
    </p>
  </h2>
  <p align="right">
    {{object.deadtime}}
  </p>
  <p align="jistify">
    Акт утверждает, что в связи с истечением срока действия уничтожены электронные ключи:
  </p>
  <p align="jistify">
    Владелец ключа:<br/>
    &nbsp;{{object.owner}}<br/>
    Серийный номер ключа:<br/>
    &nbsp;{{object.item}}<br/>
    Область действия:<br/>
    {% for area in object.area.all %}
      &nbsp;{{area.item}}<br/>
    {% endfor %}
    Метод уничтожения:<br/>
    &nbsp;физический
  </p>
  <p align="jistify">
    Ключии уничтожены в присутствии следующих лиц:
  </p>
  <p align="center">
    <table align="center" width="80%">
    <tr rowspan=2>
      <td>Владелец ключа:<td>
    </tr>
    <tr>
      <td>{{object.owner}}</td>
      <td>_______________</td>
    </tr>
    </table>
    <br/>
    <table align="center" width="80%">
     <tr rowspan=2>
      <td>Зам. председателя правления:<td>
    </tr>
    <tr>
      <td>Авраменко В.Л.</td>
      <td>_______________</td>
    </tr>
     <tr rowspan=2>
      <td>Нач. отдела внутреннего контроля:<td>
    </tr>
     <tr>
      <td>Николов З.Б.</td>
      <td>_______________</td>
    </tr>
     <tr rowspan=2>
      <td>Администратор ИБ:<td>
    </tr>
    <tr>
      <td>Васерчук Д.В.</td>
      <td>_______________</td>
    </tr>
    </table>
  </p>
</body>
