<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01// EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/A4.css" %}"/>
</head>
<body>
  <h2 align="center">
    Акт передачи на использование программного продукта {{object.group.descr}}
  </h2>
  <p align="justify">
  Настоящий акт действует в рамках Лицензионного соглашение с ООО "Крипто-Про" и Пользователем (физическим или юридическим лицом).<br/><br/>
  Настоящая лицензия даёт право на уcтановку и использование одной копии Изделия (программного продукта) {{object.group.descr}} в составе программного обеспечения "ИНИСТ Банк-Клиент"
  используемого АО "Гранд Инвест Банк", в соответствии с Лицензионным соглашением и правилами пользования, изложенными в эксплуатационной документации.<br/><br/>
  АО "Гранд Инвест Банк" передаёт настоящую лицензию на условиях использования только в составе программного обеспечения "ИНИСТ Банк-Клиент".<br/><br/>
  Ответственность за использование настоящей лицензии в составе иных программных продуктов несёт пользователь.
  </p>
  <p>
  <table width=100%>
  <tr><td align="right">Дата выдачи:</td><td align='left'><b>{{object.changestate}}</b></td></tr>
  <tr><td align="right">Лицензия выдана:</td><td align='left'><b>{{object.owner}}</b></td></tr>
  <tr><td align="right">Лицензия:</td><td align='left'><b>{{object}}</b></td></tr>
  </p>
  <p>
  </table>
  <table width=100%>
  <tr><td width=40%>Выдающая сторона:</td><td rowspan='3'></td><td width=40%>Получающая сторона:</td></tr>
  <tr><td>Начальник управления информационных технологий<br/>АО "Гранд Инвест Банк"</td><td valign="top">{{object.owner}}</td></tr>
  <tr><td height=100>______________/А.И. Кузнецов/</td><td>______________/_____________/</td></tr>
  </p>
</body>
</html>
