{% extends 'hashez/leftmenu.html' %}
{% block content %}
<table class="center">
<tr>
  <td>Тип события</td>
  <td>Результат выполнения</td>
  <td>Время события</td>
  <td>Ошибки проверки</td>
  <td>Проверено фалов</td>
  <td>Сопроводительный документ</td>
</tr>
{% for event in object_list %}
<tr class={% cycle "bg_a" "bg_b"%}>
  <td >{{event.eventType}}</td>
  <td>{{event.result}}</td>
  <td>{{event.registred}}</td>
  <td>
    {% if event.badFiles_id %}
      <a href="/hashez/badFiles/{{event.badFiles_id}}">{{event.badFiles_id}}</a>
    {% else %}
      ---
    {% endif %}
  </td>
  <td>
    {% if event.fileSet_id %}
      <a href="/hashez/fileSet/{{event.fileSet_id}}">{{event.files_count}}</a>
    {% else %}
      ---
    {% endif %}
  </td>
  <td>
    {% if event_badFiles_id %}
      <a href="/hashez/reports/###">###</a>
    {% else %}
      ---
    {% endif %}
  </td>
</tr>
{% endfor %}
</table>
{% endblock %}
