{% extends 'hashez/leftmenu.html' %}
{% block content %}
<form method="GET" action="">
<table>
{{form.as_table}}
</table>
<input type="hidden" name="sort" value="DESC"/>
<input type="submit" name="action" value="OK" text="!!!"/>
<a href="/hashez/report/?clientId={{clientId}}&fromDate={{fromDate}}&toDate={{toDate}}" target="_blank">Отчёт</a>
</form>
<table class="center">
<tr>
  <td>Тип события</td>
  <td>Результат выполнения</td>
  <td>Время события</td>
  <td>Ошибки проверки</td>
  <td>Всего файлов</td>
  <td>Сопроводительный документ</td>
</tr>
{% for event in object_list %}
<tr class={% cycle "bg_a" "bg_b"%}>
  <td>{{event.get_eventType_display}}</td>
  <td>{{event.get_result_display}}</td>
  <td>{{event.registred}}</td>
  <td>
    {% if event.badFiles_event_id %}
      <a href="/hashez/badFiles/{{event.id}}">{{event.badFiles_event_id}}</a>
    {% else %}
      ---
    {% endif %}
  </td>
  <td>
    {% if event.fileSet_id %}
      <a href="/hashez/fileSet/{{event.fileSet_id}}">{{event.files_count}}</a>
    {% else %}
      ---
    {% endif %}
  </td>
  <td>
    {% if event_badFiles_id %}
      <a href="/hashez/reports/###">###</a>
    {% else %}
      ---
    {% endif %}
  </td>
</tr>
{% endfor %}
</table>
{% endblock %}
