<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01// EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
</head>
<body>
{% block content %}
<table class="center">
<tr>
<td colspan=2><h3>Отчёт о проверке контрольных сумм критичных файлов на клиенте:</h3></td>
</tr>
<tr>
<td>{{client}}</td>
<td>{{client.descr}}</td>
</tr>
<tr>
<td colspan=2><h4>за период:</h4></td>
</tr>
<tr>
<td>c: {{fromDate}}</td>
<td>по: {{toDate}}</td>
</tr>
</table>

<table class="center">
<tr>
  <td>Тип события</td>
  <td>Результат выполнения</td>
  <td>Время события</td>
  <td>Ошибки проверки</td>
  <td>Всего файлов</td>
  <td>Сопроводительный документ</td>
</tr>
{% for event in object_list %}
<tr class={% cycle "bg_a" "bg_b"%}>
  <td>{{event.eventType}}</td>
  <td>{{event.result}}</td>
  <td>{{event.registred}}</td>
  <td>
    {% if event.badFiles_event_id %}
      <a href="/hashez/badFiles/{{event.id}}">>>></a>
    {% else %}
      ---
    {% endif %}
  </td>
  <td>
    {% if event.fileSet_id %}
      <a href="/hashez/fileSet/{{event.fileSet_id}}">{{event.files_count}}</a>
    {% else %}
      ---
    {% endif %}
  </td>
  <td>
    {% if event_badFiles_id %}
      <a href="/hashez/reports/###">###</a>
    {% else %}
      ---
    {% endif %}
  </td>
</tr>
{% endfor %}
</table>

{% endblock %}
</body>
